* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

video {
    position: fixed;
    min-width: 100%;
    min-height: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


#div_img{
  justify-content: center;
  display: flex;
  margin: 10px;
}
@media screen and (max-width: 450px) {

    #img_navbar{
     display: none;
    }
 
 }


